<div class="row mt-2 mb-2">
  <div class="col-12 col-sm-2">
    <a href="/admin/admin-page" class="btn btn-warning"> Back </a>
  </div>
  <div class="col-15 col-sm-2">
    <a href="/admin/add-author" class="btn btn-success">+ Nuevo autor</a>
  </div>
</div>

{{#if hasAuthors}}

<h1>Author list</h1>

<div class="row mt-2">
  <table class="table table-hover table-bordered rounded-3">
    <thead class="table-dark">
      <tr class="text-center">
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Cantidad de Libros</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each auths}}
      <tr class="align-middle">
        <th scope="row" class="text-center">{{this.name}}</th>
        <td class="text-center">{{this.email}}</td>
        <td class="text-center">{{this.bookCount}}</td>
        <td class="d-flex justify-content-center">
          <form
                method="post"
                action="/admin/author-delete"
                class="form-delete"
              >
                <input type="hidden" value="{{this.id}}" name="AuthorId" />
                <button
                  type="submit"
                  class="btn btn-danger me-2 delete-author"
                >Delete</button>
          </form>
           <a href="/admin/edit-author/{{this.id}}" class="btn btn-primary mx-3">Edit</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{else}}

<h1>No Authors found!</h1>

{{/if}}